@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    background-color:rgb(255, 255, 255);
    height: 100vh;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
}
.navbar{
    min-height:10vh;
    width: 100vw;
    background: transparent;
    padding:0 clamp(1.5rem,5vw,4rem);
}
.nav-container{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(1.5rem,3vw,5rem);
    height: 100%;
    width: 100%;
}
.nav-container .logo{
    height:100% ;
    display: flex;
}
.nav-container .logo img{
    height:100% ;
    max-width: 100%;
    /* margin: auto; */
}
.nav-container .navbar-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}
.nav-container .navbar-menu li a{
  font-size: clamp(1rem,1.3vw,2rem);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-container .navbar-menu li a:hover{
color: #9a4a7b;
}


.navbar-toggle{
    display: flex;
    gap:4px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    background: transparent;
}
.navbar-toggle .bar{
    width: 22px;
    height: 4px;
    background:white;
    border-radius: 3px;
}
.navbar-toggle .bar:nth-child(1){
        width: 18px;
        margin-left: 3px;
    }
    .navbar-toggle .bar:nth-child(3){
        margin-right: 3px;
        width: 18px;
    }

.navbar-toggle.active .bar:nth-child(2){
    opacity: 0;
}
.navbar-toggle.active .bar:nth-child(1){
    transform: rotate(45deg) translateY(11px);
    transform-origin:center;width: 24px;margin:0px;
}
.navbar-toggle.active .bar:nth-child(3){
    /* transform-origin:left; */
    /* transform-origin: center; */
    width: 24px;margin:0px;
    transform: rotate(-45deg) translateY(-11px);
}

@media (max-width: 768px){
    .nav-container{
        flex-direction: column;
        padding: 0 1rem;
    }
    .navbar{
        background: #9a4a7b;
    }
    .nav-container .navbar-menu{
        background: #9a4a7b;
        flex-direction: column;
        display:none;
        width: 100%;
    }
    .nav-container .navbar-menu li a {
        color: white;
        transition: all 0.3s ease;
    }
    .nav-container .navbar-menu li a:hover {
        color:black;
        text-shadow: 0 0 10px black;
    }
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logo img{
        height: 30px;
        width: 100px;
    }
    .logo .navbar-toggle{
        opacity: 1;
        border: none;
    }

    .nav-container .navbar-menu.active{
        display: flex;
    }
}

.main-container{

    width: min(100vw,1600px);
    padding: 2rem 4rem 0 8rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    height:90vh;
}

.main-container .main-content{
    width:min(50vw,500px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center  ; */
    /* gap: 1rem; */
    /* animation: appearContent 2s infinite ease; */
}
.main-content h1{
    font-size: clamp(2rem,3.5vw,5rem);
    font-weight: 900;min-width: 80%;
    word-spacing: 1rem;
    line-height: 4rem;
    opacity: 0;
    animation: appearContent 1s ease 1.5s forwards;
}
.main-content h2{
    font-size: clamp(1rem,2vw,4rem);
    color: #9a4a7b;
    opacity: 0;
    animation: appearContent 1s ease 0.5s forwards;
}
.main-content p {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.829);
    margin-top: 1rem;
    opacity: 0;
    animation: appearContent 1s ease 2.5s forwards;
}
.main-content .booking{
    width: max(20%,110px);
    border-radius: 20px;
    color: white;
    background: #9a4a7b;
    font-weight: 800;
    padding: 0.5rem;
    margin:2rem 0;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: appearContent 1s ease 3.5s forwards;

}
.main-content .booking:hover{
    background: #6b3657;
}
.main-container .main-image{
    border: 2px solid rgba(0, 0, 0, 0.062);
    background: #ffffff;
    width: min(50vw, 600px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    transition: transform 0.3s ease;
}
.main-image .outer-circle{
    width: 90%;
    height: 90%;
    /* border: 2px solid black; */
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom right,rgb(40, 23, 73),rgb(124, 100, 156),rgb(152, 123, 190))
}

.main-image .inner-circle{
    background: white;
    position: absolute;
    width: 55%;
    height: 55%;
    /* border: 2px solid black; */
    border-radius: 50%;
    
}
.main-image img{
    z-index: 99;
    position: absolute;
    transform: scale(0.9);  
    max-width: 100%;
}


.main-content .icons ul{display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 0.5rem;
}
.icons ul li{
    border-radius: 50%;
    padding: 0.5rem;
    background: #9a4a7b;
    opacity: 0;
}

.icons ul li:nth-child(1){
    animation: appearContent 1s 1 4s forwards;
}
.icons ul li:nth-child(2){
    animation: appearContent 1s 1 4.5s forwards;
}
.icons ul li:nth-child(3){
    animation: appearContent 1s 1 5s forwards;
}
.icons ul li:hover{
    background: #6b3657;
}
.icons ul li a i{
    font-size: 1.5rem;
    color: white;
}
@media (max-width: 768px){
.main-content  h1{
    word-spacing: 0.8rem;
    line-height: 3rem;
}
.main-content  h2{

}
    .main-container {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        padding: 1rem 1rem 0 0;
    }
    .main-container .main-image{
        order: -1;
        width: min(80vw, 400px);
        aspect-ratio: 1 / 1;
        margin: 0 auto;
        transition: transform 0.3s ease;
        /* padding-top: 8rem; */
        margin-top: 10rem;
    }
    .navbar.active + .main-container {
        padding-top: 5rem;
    }
}

@keyframes appearContent {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }to{
        opacity: 1;
        transform: translateY(-10px);
    }
}